<div class="footer__element">
	<h5>Check out</h5>
	<ul class="footer-links">
	<li class="footer-links__link"><a href="/">Home</a></li>
		<li class="footer-links__link"><a href="/archives">Archive</a></li>
		<li class="footer-links__link"><a href="/about">about</a></li>
		<li class="footer-links__link"><a href="/tags">Tags</a></li>
		<% if (theme.rss){ %>
		  <li class="footer-links__link"><a href="<%- theme.rss %>">RSS</a></li>
	    <% } %>
	</ul>
</div>
